.env
venv/
*.pyc
config.py
*.config.py
limbo.sqlite3
limbo.egg-info
Makefile.local
NOTES
build/
dist/
slask.egg-info/
.DS_Store
.coverage
.tox
.start.sh
.vagrant
.python-version
.cache
.envrc
__pycache__
.pytest_cache
