asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
beautifulsoup4==4.8.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
coverage==4.5.3
cryptography==2.7
entrypoints==0.3
filelock==3.0.12
flake8==3.7.8
html5lib==1.0.1
idna==2.8
importlib-metadata==0.18
mccabe==0.6.1
more-itertools==7.2.0
multidict==4.5.2
packaging==19.0
pluggy==0.12.0
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pyfiglet==0.8.post1
pyflakes==2.1.1
pyOpenSSL==19.0.0
pyparsing==2.4.0
pytest==5.0.1
pytest-cov==2.7.1
PyYAML==5.1.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
toml==0.10.0
tox==3.13.2
urllib3==1.25.3
vcrpy==2.0.1
virtualenv==16.7.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
wrapt==1.11.2
yarl==1.3.0
zipp==0.5.2
