appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
coverage==5.3
cryptography==3.2.1
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
html5lib==1.1
idna==2.10
iniconfig==1.1.1
mccabe==0.6.1
multidict==5.0.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyfiglet==0.8.post1
pyflakes==2.2.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.2
tox==3.20.1
urllib3==1.25.11
vcrpy==4.1.1
virtualenv==20.1.0
webencodings==0.5.1
websocket-client==0.57.0
wrapt==1.12.1
yarl==1.6.0
