interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thecatapi.com/v1/images/search
  response:
    body:
      string: '[{"id":"MTY3MzM3OA","url":"https://cdn2.thecatapi.com/images/MTY3MzM3OA.jpg","width":640,"height":424}]'
    headers:
      X-Cloud-Trace-Context:
      - 1589ab66d6e0fdf6d1cdb329a80a8967
      authenticated:
      - 'false'
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Sat Mar 09 2024 15:26:04 GMT+0000 (Coordinated Universal Time)
      x-response-time:
      - 2ms
    status:
      code: 200
      message: OK
version: 1
