interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.thecatapi.com/v1/images/search
  response:
    body:
      string: '[{"breeds":[],"id":"MTc3MDc5Ng","url":"https://cdn2.thecatapi.com/images/MTc3MDc5Ng.gif","width":500,"height":281}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed Apr 07 2021 14:56:48 GMT+0000 (Coordinated Universal Time)
      X-Response-Time:
      - 3ms
    status:
      code: 200
      message: OK
version: 1
