interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com/search?tbs=itp:animated&tbm=isch&q=M%C3%B6t%C3%B6rhead&safe=active
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><!DOCTYPE html PUBLIC \"-//WAPFORUM//DTD
        XHTML Mobile 1.0//EN\" \"http://www.wapforum.org/DTD/xhtml-mobile10.dtd\"><html
        xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\"><head><meta content=\"application/xhtml+xml;
        charset=UTF-8\" http-equiv=\"Content-Type\"/><meta content=\"no-cache\" name=\"Cache-Control\"/><title>M\xF6t\xF6rhead
        - Google Search</title><style>a{text-decoration:none;color:inherit}a img{border:0}body{font-family:Roboto,Helvetica,Arial,sans-serif;padding:8px;margin:0
        auto;max-width:700px;min-width:240px;}.FbhRzb{border-left:thin solid #dadce0;border-right:thin
        solid #dadce0;border-top:thin solid #dadce0;height:24px;overflow:hidden}.n692Zd{margin-bottom:10px}.cvifge{height:24px;border-spacing:0}.QvGUP{height:24px;padding:0
        8px 0 8px;vertical-align:top}.O4cRJf{height:24px;width:100%;padding:0;}.O1ePr{height:24px;pa[...]
