interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.google.com:443/finance?q=
  response:
    body: {string: !!python/unicode "<!DOCTYPE html><html><head><script>(function(){(function(){function
        e(a){this.t={};this.tick=function(a,c,b){var d=void 0!=b?b:(new Date).getTime();this.t[a]=[d,c];if(void
        0==b)try{window.console.timeStamp(\"CSI/\"+a)}catch(e){}};this.tick(\"start\",null,a)}var
        a;window.performance&&(a=window.performance.timing);var f=a?new e(a.responseStart):new
        e;window.jstiming={Timer:e,load:f};if(a){var c=a.navigationStart,d=a.responseStart;0<c&&d>=c&&(window.jstiming.srt=d-c)}if(a){var
        b=window.jstiming.load;0<c&&d>=c&&(b.tick(\"_wtsrt\",void 0,c),b.tick(\"wtsrt_\",\n\"_wtsrt\",d),b.tick(\"tbsd_\",\"wtsrt_\"))}try{a=null,window.chrome&&window.chrome.csi&&(a=Math.floor(window.chrome.csi().pageT),b&&0<c&&(b.tick(\"_tbnd\",void
        0,window.chrome.csi().startE),b.tick(\"tbnd_\",\"_tbnd\",c))),null==a&&window.gtbExternal&&(a=window.gtbExternal.pageT()),null==a&&window.external&&(a=window.external.pageT,b&&0<c&&(b.tick(\"_tbnd\",void
        0,window.external.startE),b.tick(\"tbnd_\",\"_tbnd\",c))),a&&(window.jstiming.pt=a)}catch(g){}})();})();\n</script><title>Google
        Finance: Stock market quotes, news, currency conversions & more</title><meta
        name=\"Description\" content=\"Get real-time stock quotes & charts, financial
        news, currency conversions, or track your portfolio with Google Finance.\"><meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=10\"><link rel=\"stylesheet\"
        type=\"text/css\" href=\"/finance/f/finance_us-3578168175.css\"><link rel=\"stylesheet\"
        type=\"text/css\" href=\"/finance/_/ss/a/ver=1q92easqloa2i/am=!KRcP96gTuVV0rbxY/bf=/r=O\"><link
        rel=\"icon\" type=\"image/vnd.microsoft.icon\" href=\"/finance/favicon.ico\"><style>#gbar,#guser{font-size:13px;padding-right:8px;padding-top:4px
        !important;}#gbar{padding-left:8px;height:22px}#guser{padding-bottom:7px !important;text-align:right}.gbh,.gbd{border-top:1px
        solid #c9d7f1;font-size:1px}.gbh{height:0;position:absolute;top:24px;width:100%}@media
        all{.gb1{height:22px;margin-right:.5em;vertical-align:top}#gbar{float:left}}a.gb1,a.gb4{text-decoration:underline
        !important}a.gb1,a.gb4{color:#00c !important}.gbi .gb4{color:#dd8e27 !important}.gbf
        .gb4{color:#900 !important}</style><script></script><script>\n      function
        _rpt() {}\n      function _tck() {}\n    </script><script>\n    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){\n
        \   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n
        \   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n
        \   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');\n\n
        \   ga('create', 'UA-40765809-1', {\n      'allowLinker': true,\n      'cookiePath':
        '/finance'\n    });\n    ga('send', 'pageview');\n    </script></head><body><div
        class=fjfe-bodywrapper><div id=fjfe-real-body class=g-doc><input type=\"text\"
        name=\"hist_state\" id=\"hist_state\" style=\"display:none;\"><iframe id=\"hist_frame\"
        name=\"hist_frame\" class=invfr tabindex=\"-1\"></iframe><iframe src=\"/finance/_/js/a/b/rt=h/ver=_dYx35LbwAo.en_US./am=!KRcP96gTuVV0rbxY/d=0\"
        class=invfr tabindex=\"-1\"></iframe><div id=gbar><nobr><a class=gb1 href=\"https://www.google.com/webhp?tab=ew\">Search</a>
        <a class=gb1 href=\"http://www.google.com/imghp?hl=en&tab=ei\">Images</a>
        <a class=gb1 href=\"https://maps.google.com/maps?hl=en&tab=el\">Maps</a> <a
        class=gb1 href=\"https://play.google.com/?hl=en&tab=e8\">Play</a> <a class=gb1
        href=\"https://www.youtube.com/?tab=e1\">YouTube</a> <a class=gb1 href=\"https://news.google.com/nwshp?hl=en&tab=en\">News</a>
        <a class=gb1 href=\"https://mail.google.com/mail/?tab=em\">Gmail</a> <a class=gb1
        href=\"https://drive.google.com/?tab=eo\">Drive</a> <a class=gb1 style=\"text-decoration:none\"
        href=\"http://www.google.com/intl/en/options/\"><u>More</u> &raquo;</a></nobr></div><div
        id=guser width=100%><nobr><span id=gbn class=gbi></span><span id=gbf class=gbf></span><span
        id=gbe></span><a  href=\"http://www.google.com/support/finance?hl=en\" class=gb4>Help</a>
        | <a target=_top id=gb_70 href=\"https://accounts.google.com/ServiceLogin?service=finance&passive=1209600&continue=https://www.google.com/finance?q&followup=https://www.google.com/finance?q\"
        class=gb4>Sign in</a></nobr></div><div class=gbh style=left:0></div><div class=gbh
        style=right:0></div><div id=fjfe-click-wrapper><script>\n(function() {\n  var
        l = window.location;\n  var q = l.search ? l.search.substr(1) : '';\n  var
        h = l.hash ? l.hash.substr(1) : '';\n  var p = '/finance';\n  var ss = 'stockscreener';\n
        \ var conn = window.history && window.history.pushState ? '/' : '#';\n  if
        (l.pathname == p + '/' + ss) {\n    if (h) l.href = p + conn + ss + '?' +
        q + '&' + h;\n  } else if (l.pathname != p && h) {\n    l.href = p + l.hash;\n
        \ }\n  if (h) {\ndocument.getElementById('fjfe-click-wrapper').style.display
        = 'none';\n  }\n})();\n</script><div id=gf-head class=\"g-section g-tpl-75-25
        g-split\"><div class=\"g-unit g-first\"><div class=fjfe-logo><a href=\"/finance/?ei=wtLvVNGXJ5DtsQf594H4Bg\"><img
        src=\"/finance/f/logo_us-115376669.gif\" alt=\"Google Finance\"></a></div><div
        id=gf-search class=fjfe-search><form method=\"get\" action=\"/finance\" autocomplete=\"off\"><input
        class=fjfe-searchbox-input name=q type=text tabindex=1 value=\"\"></input><span
        class=fjfe-searchbox-button-wrapper><span class=fjfe-searchbox-button-wrapper2><input
        class=fjfe-searchbox-button type=submit tabindex=2 value=\"Get quotes\"></input></span></span><input
        type=hidden name=\"ei\" value=\"wtLvVNGXJ5DtsQf594H4Bg\"></input></form></div></div><div
        class=\"g-unit fjfe-promo\"><div id=\"ad2-target\" class=\"id-ad2-target\"></div></div></div><div
        class=elastic><div id=app class=\"g-section g-tpl-left-11p4em\"><div class=\"g-unit
        g-first\"><div id=gf-nav><div class=fjfe-nav-nav><ul class=fjfe-nav id=navmenu><li
        class=\"fjfe-nav-selected\">Markets<li class=fjfe-nav-item><a href=\"/finance/market_news?ei=wtLvVNGXJ5DtsQf594H4Bg\"><div>News</div></a><li
        class=fjfe-nav-item><a href=\"/finance/portfolio?action=view&amp;ei=wtLvVNGXJ5DtsQf594H4Bg\"><div>Portfolios</div></a><li
        class=fjfe-nav-item><a href=\"/finance/stockscreener?ei=wtLvVNGXJ5DtsQf594H4Bg\"><div>Stock
        screener</div></a><li class=fjfe-nav-item><a href=\"/finance/domestic_trends?ei=wtLvVNGXJ5DtsQf594H4Bg\"><div>Google
        Domestic Trends</div></a></ul></div><div class=\"fjfe-recentquotes fjfe-recentquotes-noquote\"><h4>Recent
        Quotes <span class=\"fjfe-recentquotes-duration\">(<a href=\"//www.google.com/history/optout?hl=en\">30
        days</a>)</span></h4><div class=fjfe-recentquotes-noquote-notification>You
        have no recent quotes</div><div class=fjfe-recentquotes-quotes><div class=\"fjfe-toggle
        fjfe-toggle-button\"><span class=fjfe-chg-toggle>chg</span> | <span class=fjfe-perc-toggle>%</span></div><div
        class=fjfe-table-div><table class=fjfe-recentquotes-table id=rq width=100%></table></div></div></div></div></div><div
        class=g-unit id=gf-viewc><div class=fjfe-content>\n<div class=\"g-section
        sfe-break-bottom-13\">\n<div class=\"hdg top appbar-hide\"><div class=\"g-section
        g-tpl-50-50 g-split\">\n<div class=\"g-unit g-first\"><h3>Market summary</h3></div>\n<div
        class=\"g-unit\">Feb 26 - Markets closed\n</div>\n</div></div>\n</div>\n<div
        id=reorder class=\"g-section g-tpl-right-1 id-reorder\">\n<div class=\"g-unit
        g-first\">\n<div class=\"g-c\">\n<div id=ad class=sfe-break-bottom-16>\n<div
        id=ad-label class=\"id-ad-label invisible\">\nAdvertisement</div>\n<div id=ad-target
        class=\"id-ad-target ads-300-250\"></div>\n</div>\n<div>\n</div>\n<div class=rgt-reorder>\n<div
        id=portfolios\n>\n<div id=home-portfolios class=id-home-portfolios>\n</div>\n</div><script>_tck('aft');</script>\n<div
        id=markets\n>\n<div id=markets>\n<div class=hdg><div class=float><h3>World
        markets</h3></div>\n<div class=\"gf-reorder-btn SP_menu_button\"></div>\n</div>\n<div
        class=sfe-section>\n<table class=quotes width=100%><tbody><tr>\n<td class=symbol><a
        href=\"/finance?q=SHA:000001&amp;ei=wtLvVNGXJ5DtsQf594H4Bg\" >Shanghai\n<td
        class=price><span id=\"ref_7521596_l\">3,302.71</span>\n<td class=\"change\"><span
        class=chg id=\"ref_7521596_c\">+4.35</span> <span class=chg id=\"ref_7521596_cp\">(0.13%)</span><tr>\n<td
        class=symbol><a href=\"/finance?q=INDEXNIKKEI:NI225&amp;ei=wtLvVNGXJ5DtsQf594H4Bg\"
        >Nikkei 225\n<td class=price><span id=\"ref_15513676_l\">18,831.88</span>\n<td
        class=\"[...]
