interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/geocoding/v5/mapbox.places/%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%A3.json?limit=1&access_token=fake_mapbox_token
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"query\":[\"\u0E01\u0E23\u0E38\u0E07\u0E40\u0E17\u0E1E\u0E21\u0E2B\u0E32\u0E19\u0E04\u0E23\"],\"features\":[{\"id\":\"place.25821\",\"type\":\"Feature\",\"place_type\":[\"region\",\"place\"],\"relevance\":1,\"properties\":{\"mapbox_id\":\"dXJuOm1ieHBsYzpaTjA\",\"wikidata\":\"Q1861\",\"short_code\":\"TH-10\"},\"text\":\"Bangkok\",\"place_name\":\"Bangkok,
        Thailand\",\"matching_text\":\"\u0E01\u0E23\u0E38\u0E07\u0E40\u0E17\u0E1E\u0E21\u0E2B\u0E32\u0E19\u0E04\u0E23\",\"matching_place_name\":\"\u0E01\u0E23\u0E38\u0E07\u0E40\u0E17\u0E1E\u0E21\u0E2B\u0E32\u0E19\u0E04\u0E23,
        Thailand\",\"bbox\":[100.327975,13.3905792,100.93829,13.954364],\"center\":[100.4935089,13.7524938],\"geometry\":{\"type\":\"Point\",\"coordinates\":[100.4935089,13.7524938]},\"context\":[{\"id\":\"country.8925\",\"mapbox_id\":\"dXJuOm1ieHBsYzpJdDA\",\"wikidata\":\"Q869\",\"short_code\":\"th\",\"text\":\"Thailand\"}]}],\"attribution\":\"NOTICE:
        \xA9 2024 Mapbox and its suppliers. All rights reserved. Use of this data
        is subject to the Mapbox Terms of Service (https://www.mapbox.com/about/maps/).
        This response and the information it contains may not be retained. POI(s)
        provided by Foursquare.\"}"
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      ETag:
      - '"8ed7b397ab685a588f6e476d017e2a0b"'
      Last-Modified:
      - Fri, 08 Mar 2024 01:28:48 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Reset:
      - '1710000305'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast/daily?lat=13.75&lon=100.49&cnt=4&units=imperial&appid=fake_openweather_key
  response:
    body:
      string: '{"city":{"id":1608132,"name":"Nonthaburi","coord":{"lon":100.49,"lat":13.75},"country":"TH","population":1045341,"timezone":25200},"cod":"200","message":7.4075144,"cnt":4,"list":[{"dt":1709960400,"sunrise":1709940576,"sunset":1709983666,"temp":{"day":92.28,"min":83.28,"max":92.53,"night":84.63,"eve":87.49,"morn":83.28},"feels_like":{"day":98.04,"night":97.23,"eve":93.24,"morn":89.24},"pressure":1011,"humidity":48,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":13.51,"deg":174,"gust":20.29,"clouds":100,"pop":0.39,"rain":1.17},{"dt":1710046800,"sunrise":1710026937,"sunset":1710070073,"temp":{"day":93.43,"min":83.19,"max":95.22,"night":84.81,"eve":88.59,"morn":83.21},"feels_like":{"day":99.27,"night":92.26,"eve":95.49,"morn":88.54},"pressure":1013,"humidity":46,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"speed":15.17,"deg":169,"gust":19.55,"clouds":17,"pop":0.24},{"dt":1710133200,"sunrise":1710113298,"sunset":1710156480,"temp":{"day":94.41,"min":83.32,"max":96.01,"night":85.01,"eve":90.01,"morn":83.32},"feels_like":{"day":100.67,"night":92.73,"eve":96.03,"morn":90.21},"pressure":1013,"humidity":45,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":14.79,"deg":173,"gust":18.66,"clouds":32,"pop":0.76,"rain":0.23},{"dt":1710219600,"sunrise":1710199658,"sunset":1710242886,"temp":{"day":94.14,"min":83.34,"max":94.62,"night":85.5,"eve":86.59,"morn":83.34},"feels_like":{"day":100.11,"night":92.28,"eve":93.04,"morn":90.27},"pressure":1012,"humidity":45,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"speed":14.45,"deg":175,"gust":21.18,"clouds":70,"pop":0.75,"rain":2.29}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
