interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mapbox.com/geocoding/v5/mapbox.places/Honolulu%2C%20HI.json?limit=1&access_token=fake_mapbox_token
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"query\":[\"honolulu\",\"hi\"],\"features\":[{\"id\":\"place.153061612\",\"type\":\"Feature\",\"place_type\":[\"place\"],\"relevance\":1,\"properties\":{\"mapbox_id\":\"dXJuOm1ieHBsYzpDUitJN0E\",\"wikidata\":\"Q18094\"},\"text\":\"Honolulu\",\"place_name\":\"Honolulu,
        Hawaii, United States\",\"bbox\":[-157.9727507,21.2297956,-157.6217611,21.4019829],\"center\":[-157.855676,21.304547],\"geometry\":{\"type\":\"Point\",\"coordinates\":[-157.855676,21.304547]},\"context\":[{\"id\":\"district.10536684\",\"mapbox_id\":\"dXJuOm1ieHBsYzpvTWJz\",\"wikidata\":\"Q487704\",\"text\":\"Honolulu
        County\"},{\"id\":\"region.369900\",\"mapbox_id\":\"dXJuOm1ieHBsYzpCYVRz\",\"wikidata\":\"Q782\",\"short_code\":\"US-HI\",\"text\":\"Hawaii\"},{\"id\":\"country.8940\",\"mapbox_id\":\"dXJuOm1ieHBsYzpJdXc\",\"wikidata\":\"Q30\",\"short_code\":\"us\",\"text\":\"United
        States\"}]}],\"attribution\":\"NOTICE: \xA9 2024 Mapbox and its suppliers.
        All rights reserved. Use of this data is subject to the Mapbox Terms of Service
        (https://www.mapbox.com/about/maps/). This response and the information it
        contains may not be retained. POI(s) provided by Foursquare.\"}"
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      ETag:
      - '"4cd1e85a2048225bf6f1d5a693173d86"'
      Last-Modified:
      - Fri, 08 Mar 2024 01:28:48 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Reset:
      - '1710000528'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openweathermap.org/data/2.5/forecast/daily?lat=21.30&lon=-157.86&cnt=4&units=metric&appid=fake_openweather_key
  response:
    body:
      string: '{"city":{"id":5856195,"name":"Honolulu","coord":{"lon":-157.86,"lat":21.3},"country":"US","population":371657,"timezone":-36000},"cod":"200","message":5.7490353,"cnt":4,"list":[{"dt":1710021600,"sunrise":1710002689,"sunset":1710045539,"temp":{"day":23.42,"min":21.63,"max":23.47,"night":22,"eve":22.54,"morn":21.63},"feels_like":{"day":23.62,"night":22.16,"eve":22.78,"morn":21.7},"pressure":1022,"humidity":69,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"speed":12.4,"deg":68,"gust":13.99,"clouds":100,"pop":0.08},{"dt":1710108000,"sunrise":1710089035,"sunset":1710131959,"temp":{"day":22.99,"min":21.83,"max":23.27,"night":22.07,"eve":22.56,"morn":21.87},"feels_like":{"day":23.28,"night":22.29,"eve":22.83,"morn":22.1},"pressure":1021,"humidity":74,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"speed":11.69,"deg":67,"gust":14.14,"clouds":100,"pop":0.27},{"dt":1710194400,"sunrise":1710175382,"sunset":1710218379,"temp":{"day":23.46,"min":21.91,"max":23.71,"night":22.45,"eve":23.04,"morn":22.07},"feels_like":{"day":23.79,"night":22.79,"eve":23.25,"morn":22.37},"pressure":1019,"humidity":74,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":11.32,"deg":68,"gust":13.21,"clouds":100,"pop":0.2,"rain":0.1},{"dt":1710280800,"sunrise":1710261728,"sunset":1710304799,"temp":{"day":24.18,"min":22.39,"max":24.36,"night":22.58,"eve":24.1,"morn":22.39},"feels_like":{"day":24.4,"night":22.98,"eve":24.37,"morn":22.72},"pressure":1019,"humidity":67,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"speed":6.87,"deg":77,"gust":8.94,"clouds":26,"pop":0.37,"rain":1.12}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
