interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=%E0%A4%A8%E0%A5%87%E0%A4%AA%E0%A4%BE%E0%A4%B2&format=json
  response:
    body:
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":609},"search":[{"ns":0,"title":"Nepal","pageid":171166,"size":241095,"wordcount":22016,"snippet":"/n\u026a\u02c8p\u0254\u02d0l/,
        /-\u02c8p\u0251\u02d0l/ nih-PAWL, -\u2060PAHL; Nepali: <span class=\"searchmatch\">\u0928\u0947\u092a\u093e\u0932</span>
        [nepal] Nepali: \u0938\u0902\u0918\u0940\u092f \u0932\u094b\u0915\u0924\u093e\u0928\u094d\u0924\u094d\u0930\u093f\u0915
        \u0917\u0923\u0924\u0928\u094d\u0924\u094d\u0930 <span class=\"searchmatch\">\u0928\u0947\u092a\u093e\u0932</span>
        The entire territory controlled by the monarch","timestamp":"2024-02-10T22:27:24Z"},{"ns":0,"title":"Nepali
        Congress","pageid":364670,"size":100874,"wordcount":5499,"snippet":"Association
        (<span class=\"searchmatch\">\u0928\u0947\u092a\u093e\u0932</span> \u0924\u093e\u092e\u093e\u0919
        \u0938\u0902\u0918) Nepal Thakur Society (<span class=\"searchmatch\">\u0928\u0947\u092a\u093e\u0932</span>
        \u0920\u093e\u0915\u0941\u0930 \u0938\u092e\u093e\u091c) Nepal Woman Association
        (<span class=\"searchmatch\">\u0928\u0947\u09[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://en.wikipedia.org/w/api.php?format=json&action=parse&page=Nepal
  response:
    body:
      string: ''
    headers:
      location:
      - https://en.wikipedia.org/w/api.php?format=json&action=parse&page=Nepal
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?format=json&action=parse&page=Nepal
  response:
    body:
      string: '{"parse":{"title":"Nepal","pageid":171166,"revid":1205974793,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"shortdescription
        nomobile noexcerpt noprint searchaux\" style=\"display:none\">Country in South
        Asia</div>\n<style data-mw-deduplicate=\"TemplateStyles:r1033289096\">.mw-parser-output
        .hatnote{font-style:italic}.mw-parser-output div.hatnote{padding-left:1.6em;margin-bottom:0.5em}.mw-parser-output
        .hatnote i{font-style:normal}.mw-parser-output .hatnote+link+.hatnote{margin-top:-0.5em}</style><div
        role=\"note\" class=\"hatnote navigation-not-searchable\">This article is
        about the country. For other uses, see <a href=\"/wiki/Nepal_(disambiguation)\"
        class=\"mw-disambig\" [...]
