interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=dog&format=json
  response:
    body:
      string: '{"batchcomplete":"","continue":{"sroffset":10,"continue":"-||"},"query":{"searchinfo":{"totalhits":117722,"suggestion":"do","suggestionsnippet":"do"},"search":[{"ns":0,"title":"Dog","pageid":4269567,"size":116607,"wordcount":12034,"snippet":"The
        <span class=\"searchmatch\">dog</span> (Canis familiaris or Canis lupus familiaris)
        is a domesticated descendant of the wolf. Also called the domestic <span class=\"searchmatch\">dog</span>,
        it is derived from extinct","timestamp":"2024-03-07T05:32:10Z"},{"ns":0,"title":"Dog
        (disambiguation)","pageid":2854454,"size":7548,"wordcount":1015,"snippet":"Look
        up <span class=\"searchmatch\">dog</span>, doggy, or doggie in Wiktionary,
        the free dictionary. The <span class=\"searchmatch\">dog</span> is a domesticated
        canid species, Canis familiaris. <span class=\"searchmatch\">Dog</span>(s),
        doggy, or doggie may","timestamp":"2024-01-31T21:58:51Z"},{"ns":0,"title":"Difference
        of Gauss[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://en.wikipedia.org/w/api.php?format=json&action=parse&page=Dog
  response:
    body:
      string: ''
    headers:
      location:
      - https://en.wikipedia.org/w/api.php?format=json&action=parse&page=Dog
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?format=json&action=parse&page=Dog
  response:
    body:
      string: '{"parse":{"title":"Dog","pageid":4269567,"revid":1212311321,"text":{"*":"<div
        class=\"mw-content-ltr mw-parser-output\" lang=\"en\" dir=\"ltr\"><div class=\"shortdescription
        nomobile noexcerpt noprint searchaux\" style=\"display:none\">Domesticated
        canid species</div>\n<style data-mw-deduplicate=\"TemplateStyles:r1033289096\">.mw-parser-output
        .hatnote{font-style:italic}.mw-parser-output div.hatnote{padding-left:1.6em;margin-bottom:0.5em}.mw-parser-output
        .hatnote i{font-style:normal}.mw-parser-output .hatnote+link+.hatnote{margin-top:-0.5em}</style><div
        role=\"note\" class=\"hatnote navigation-not-searchable\">\"Doggy\" and \"Pooch\"
        redirect here. For other uses, see <a href=\"/wiki/Dog_(disambiguation)\"
        class=\"mw-disambig\" title=\"Dog (disambiguation)\">Dog (disambiguation)</a>,
        <a href=\"/wiki/Doggy_(disambiguation)\" class=\"mw-disambig\" title=\"Doggy
        (disambiguation)\">Doggy (disambiguation)</a>, and <a href=\"/wiki/Pooch_(disambiguation)\"
        class=\"mw-disambig\" title=\"Pooch (disambiguation)\">Pooch (disambiguation)</a>.</div>\n<p
        class=\"mw-empty-elt\">\n\n\n</p>\n<table class=\"infobox biota\" style=\"text-align:
        left; width: 200px; font-size: 100%\">\n\n<tbody><tr>\n<th colspan=\"2\" style=\"text-align:
        center; background-color: rgb(235,235,210)\">Dog<br /><div style=\"font-size:
        85%;\">Temporal range: <span class=\"noprint\"><span style=\"display:inline-block;\"></span><span
        style=\"display:inline-block;\">0.0142\u20130&#160;<a href=\"/wiki/Megaannum\"
        class=\"mw-redirect\" title=\"Megaannum\">Ma</a></span> <span style=\"display:inline-block;\"></span><div
        id=\"Timeline-row\" style=\"margin: 4px auto 0; clear:both; width:220px; padding:0px;
        height:18px; overflow:visible; white-space:nowrap; border:1px #666; border-style:solid
        none; position:relative; z-index:0; font-size:97%;\">\n<div style=\"position:absolute;
        height:100%; left:0px; width:207.23076923077px; padding-left:5px; text-align:left;
        background-color:rgb(254,217,106); background-image: linear-gradient(to right,
        rgba(255,255,255,1), rgba(254,217,106,1) 15%, rgba(254,217,106,1));\"><a href=\"/wiki/Precambrian\"
        title=\"Precambrian\">Pre\ua792</a></div>\n<div style=\"position:absolute;
        height:100%; text-align:center; background-color:rgb(127,160,86); left:37.636923076923px;
        width:18.073846153846px;\"><a href=\"/wiki/Cambrian\" title=\"Cambrian\">\ua792</a></div>\n<div
        style=\"position:absolute; height:100%; text-align:center; background-color:rgb(0,146,112);
        left:55.710769230769px; width:14.08px;\"><a href=\"/wiki/Ordovician\" title=\"Ordovician\">O</a></div>\n<div
        style=\"position:absolute; height:100%; text-align:center; background-color:rgb(179,225,182);
        left:69.790769230769px; width:8.3261538461539px;\"><a href=\"/wiki/Silurian\"
        title=\"Silurian\">S</a></div>\n<div style=\"position:absolute; height:100%;
        text-align:center; background-color:rgb(203,140,55); left:78.116923076923px;
        width:20.409230769231px;\"><a href=\"/wiki/Devonian\" title=\"Devonian\">D</a></div>\n<div
        style=\"position:absolute; height:100%; text-align:center; background-color:rgb(103,165,153);
        left:98.526153846154px; width:20.307692307692px;\"><a href=\"/wiki/Carboniferous\"
        title=\"Carboniferous\">C</a></div>\n<div style=\"position:absolute; height:100%;
        text-align:center; background-color:rgb(240,[...]
